:root {
  color-scheme: light dark;
  --light-text: rgba(255, 255, 255, 0.87);
  --dark-text: #000;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    //
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    //
  }
  input,
  select {
    color: #374151;
  }
}
